@model MVC21BITV01Test.Data.KhachHang

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["successMessage"]
    </div>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Thêm mới khách hàng</h1>

<form method="post" asp-action="Create">
    <div class="form-group">
        <label for="MaKh">Mã khách hàng:</label>
        <input type="text" name="MaKh" id="MaKh" class="form-control" />
        <span asp-validation-for="MaKh" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="TenCty">Tên công ty:</label>
        <input type="text" name="TenCty" id="TenCty" class="form-control" />
        <span asp-validation-for="TenCty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DiaChi">Địa chỉ:</label>
        <input type="text" name="DiaChi" id="DiaChi" class="form-control" />
    </div>
    <div class="form-group">
        <label  
               for="DienThoai">Điện thoại:</label>
        <input type="text" name="DienThoai" id="DienThoai" class="form-control"   />
    </div>
    <div class="form-group">
        <select asp-for="ThanhPho" class="form-control" asp-items="@ViewBag.ThanhPhoList">
            <option value="">Chọn thành phố</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>